@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body{
  margin:0;
  font-family:'Poppins', sans-serif;
  background: #00ff84;
  overflow:hidden;
}

/* Splash Screen */
#splash{
  position:fixed;
  width:100%;
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background: linear-gradient(135deg,#00A8E5,#00fbff);
  color:white;
  z-index:100;
  transition: opacity 0.5s ease;
}

.splash-logo{
  width:100px;
  height:100px;
  margin-bottom:20px;
  animation: rotate 2s linear infinite;
}

@keyframes rotate{
  from{transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}

/* App */
#app{ display:none; height:100vh; }

.container{ display:flex; height:100%; backdrop-filter: blur(5px); }

.sidebar{
  width:80px;
  background:rgba(0,0,0,0.2);
  backdrop-filter: blur(10px);
  color:white;
  text-align:center;
}

.logo{ padding:15px; font-weight:bold; font-size:18px; color:white;
 background: linear-gradient(135deg,#00A8E5,#00FF88);
 -webkit-background-clip: text; -webkit-text-fill-color: transparent;
}

.user{ padding:15px 5px; cursor:pointer; opacity:0.8; }
.user.active,.user:hover{ background:#00C6FF; opacity:1; }

.chat-box{ flex:1; display:flex; flex-direction:column; background:rgba(255,255,255,0.05); }

.chat-header{ padding:15px; background:rgba(0,0,0,0.3); color:white; font-weight:bold; }
#status{ font-size:12px; color:#b0f2b6; margin-left:10px; }

.chat-messages{ flex:1; padding:15px; overflow-y:auto; }
.message{ max-width:60%; padding:10px 14px; margin:8px 0; border-radius:20px; color:white; }
.left{ background:#333; }
.right{ background:linear-gradient(135deg,#00A8E5,#00FF88); margin-left:auto; }

.chat-input{ display:flex; padding:10px; background:rgba(0,0,0,0.2); }
.chat-input input{ flex:1; padding:10px; border:none; border-radius:20px; outline:none; }
.chat-input button{ margin-left:10px; border:none; width:45px; border-radius:50%; background:linear-gradient(135deg,#00A8E5,#00FF88); color:white; font-size:18px; cursor:pointer; }

/* Auth Form */
.auth-container{ display:flex; flex-direction:column; align-items:center; justify-content:center; height:100vh; background: linear-gradient(135deg,#00A8E5,#00FF88); }
.auth-container input{ padding:10px; margin:5px 0; width:200px; border-radius:5px; border:none; }
.auth-container button{ padding:10px 20px; margin-top:10px; border:none; border-radius:5px; background:#fff; color:#00A8E5; cursor:pointer; font-weight:bold; }
.auth-container span{ color:#fff; cursor:pointer; text-decoration:underline; }
#msgBox{
  position:fixed;
  bottom:20px;
  left:50%;
  transform:translateX(-50%);
  background:#000;
  color:#fff;
  padding:12px 20px;
  border-radius:30px;
  font-size:14px;
  display:none;
  z-index:999;
  box-shadow:0 5px 20px rgba(0,0,0,0.3);
}